<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Falabella_-_Middleware"/>
<stringAttribute key="TALEND_JOB_ID" value="_xPuv8EHREemYI6Im2Psx8A"/>
<stringAttribute key="TALEND_JOB_NAME" value="Actualizar_EstadoTarea_Padre"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
