<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Gestion_Florida"/>
<stringAttribute key="TALEND_JOB_ID" value="_EOE04BJIEeiFnuX850cmig"/>
<stringAttribute key="TALEND_JOB_NAME" value="Mantenimiento_MTD_Plan_UTE"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
