<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Gestion_Florida"/>
<stringAttribute key="TALEND_JOB_ID" value="_9EL7UA0IEei0lJM3osW0lg"/>
<stringAttribute key="TALEND_JOB_NAME" value="Produccion_DORE"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
